#cube{
	-webkit-animation-name: animation;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 3s;
	margin: 100px auto auto 100px;
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin: 80px 80px 0;
	/*-webkit-perspective: 800;*/
}

@-webkit-keyframes animation{
	from,to{}
	16%{-webkit-transform:rotateY(-90deg);}
	33%{-webkit-transform:rotateY(-90deg) rotateZ(135deg);}
	50%{-webkit-transform:rotateY(225deg) rotateZ(225deg);}
	66%{-webkit-transform:rotateY(135deg) rotateZ(135deg);}
	83%{-webkit-transform:rotateY(135deg);}
}

#cube div {
    position: absolute;
    width: 160px;
    height: 160px;
    background: rgba(255, 200, 100, 0.8);
    text-align: center;
    font-size: 80px;
    line-height: 160px;
    
}
/*前*/
.area1{
	-webkit-transform: translateZ(80px);
}
/*后*/
.area2{
	-webkit-transform: translateZ(-80px);
}
/*下*/
.area3{
	-webkit-transform: translateY(80px) rotateX(-90deg);
}
/*上*/
.area4{
	-webkit-transform: translateY(-80px) rotateX(90deg);
}
/*左*/
.area5{
	-webkit-transform: translateX(-80px) rotateY(-90deg);
}
/*右*/
.area6{
	-webkit-transform: translateX(80px) rotateY(90deg);
}